.recipe {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    background-color: #efefef;
    border-radius: 60px;
}

.recipe img {
    clip-path: circle(50%);
    height: 7rem;
    margin-left: -10px;
}
