form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.searchInput {
    max-width: 300px;
    background-color: #efefef;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    flex-grow: 1;
    font-size: 16px;
}

.searchInput:focus {
    outline: none;
}

.searchButton {
    height: 34px;
    border: 1px solid crimson;
    color: crimson;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 20px;
    background-color: transparent;
    padding: 0 5px;
}

.searchButton:hover {
    cursor: pointer;
    background-color: crimson;
    color: #fff;
    transition: 0.2s;
}

.searchButton:focus {
    outline: none;
}
